<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/Style.css" rel="stylesheet" />
    <script src="~/js/mylib.js"></script>
</head>
    <body>
        <h3 class="format">Index Page</h3>
        <img src="~/images/bird.png" onclick="clickMe()" alt="Image not shown" />
    </body>
</html>

