
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo4</title>
</head>
<body>
    <h3> Demo 4 View </h3>
    ID 1: @ViewBag.id1
    <br />
    ID 2: @ViewBag.id2
</body>
</html>
