
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Index View</h3>
    <a asp-controller="demo">Index Action Method of Controller Demo Default</a>
    <br />
    <a asp-controller="demo" asp-action="index">Index Action Method of Controller Demo</a>
    <br />
    <a asp-controller="demo" asp-action="demo2">Index Action Method of Controller Demo2</a>
</body>
</html>
